.container.mt-4
  .card.shadow-sm
    .card-body.p-4
      .d-flex.justify-content-between.align-items-center.mb-4
        h1.mb-0 = t(".title")

        = link_to t(".add"),
                  new_repository_path,
                  class: "btn btn-primary"

      - if @repositories.any?
        table.table.mb-0
          thead
            tr
              th = t(".name")
              th = t(".language")
              th = t(".last_check_status")

          tbody
            - @repositories.each do |repository|
              tr
                td
                  = link_to repository.name,
                            repository_path(repository)

                td = repository.language.presence || "—"
                
                - latest_check = repository.latest_check

                td
                  - if latest_check&.passed.nil?
                    | —
                  - else
                    = latest_check.passed
      - else
        p.text-muted.mb-0 = t(".empty")
      - if @pagy.pages > 1
        .d-flex.justify-content-center.mt-4
          == pagy_bootstrap_nav(@pagy)