.container.mt-4
  .card.shadow-sm
    .card-body.p-4
      h1.mb-4 = @repository.full_name

      = button_to t(".check"),
            repository_checks_path(@repository),
            method: :post,
            class: "btn btn-primary mb-4"

      table.table.mb-0
        tbody
          tr
            th.w-25 = t(".name")
            td = @repository.name

          tr
            th = t(".language")
            td = @repository.language.presence || "—"

          tr
            th = t(".clone_url")
            td.text-break = @repository.clone_url

          tr
            th = t(".ssh_url")
            td.text-break = @repository.ssh_url

          tr
            th = t(".created_at")
            td.text-break
              = l(@repository.created_at, format: :repository)

          tr
            th = t(".updated_at")
            td.text-break 
              = l(@repository.updated_at, format: :repository)

      - if @checks.any?
        table.table.table-striped.mt-4
          thead
            tr
              th = t(".checks.id")
              th = t(".checks.status")
              th = t(".checks.commit_id")
              th = t(".checks.passed")
              th = t(".checks.created_at")

          tbody
            = render partial: "check",
              collection: @checks
            
      - else
        p.text-muted.mt-4 = t(".checks.empty")