.card.shadow-sm
  .card-body
    = link_to t(".back"),
              repository_path(@repository),
              class: "btn btn-primary mb-4"

    h1 = t(".title", id: @check.id)

    table.table
      tbody
        tr
          th = t(".created_at")
          td = l(@check.created_at, format: :check)

        tr
          th = t(".status")
          td = t("web.repositories.checks.states.#{@check.aasm_state}")

        tr
          th = t(".passed")
          td
            - if @check.passed.nil?
              | —
            - else
              = @check.passed

        tr
          th = t(".commit_id")
          td = @check.commit_id.presence || "—"
        tr
          th = t(".offense_count")
          td = @check.offense_count
          
    - if @check.files_with_offeses.any?
      table.table.table-striped.mt-4
        thead
          tr
            th = t(".message")
            th = t(".cop_name")
            th = t(".location")

        tbody
          - @check.files_with_offeses.each do |file|
            tr
              td.fw-bold colspan="3"
                = file["path"]

            - file.fetch("offenses", []).each do |offense|
              - location = offense.fetch("location", {})

              tr
                td = offense["message"]
                td = offense["cop_name"]
                td
                  = "#{location['start_line']}:#{location['start_column']}"
    - elsif @check.finished?
      p.mt-4 = t(".no_offenses")